* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(rgba(211, 81, 7, 0.767), rgba(3, 61, 61, 0.767));
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bodyEffect 2s infinite;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes bodyEffect {
  0% {
    background: radial-gradient(
      rgba(123, 211, 7, 0.767),
      rgba(3, 61, 61, 0.767)
    );
  }
  10% {
    background: radial-gradient(
      rgba(197, 211, 7, 0.767),
      rgba(3, 61, 61, 0.767)
    );
  }
  25% {
    background: radial-gradient(
      rgba(7, 136, 211, 0.767),
      rgba(3, 61, 61, 0.767)
    );
  }
  50% {
    background: radial-gradient(
      rgba(21, 7, 211, 0.767),
      rgba(3, 61, 61, 0.767)
    );
  }
  75% {
    background: radial-gradient(rgba(211, 7, 7, 0.767), rgba(3, 61, 61, 0.767));
  }
}
